body {
    background-color: #f8eaef;
}

.chikawa-gif {
    width: 200px;
    height: 200px;
    margin-left: 630px;

}

.start {
    width: 100px;
    height: 50px;
    margin-left: 630px;
    margin-bottom: 600px;
}