html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-image: url("../Assets/photobooth-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 30%;
    background-size: 108%;
    min-height: 100vh;
    background-color: #fff7fa;
    z-index: 1;
}

.sample{
    position: absolute;
    width: 40%;
    top: -9%;
    left: 25%;
    z-index: 3;
}

.frame {
    position: absolute;
    left: 35%;
    bottom: 48%;
    width: 20%;
    height: 48%;
    overflow: hidden;
    z-index: 2;
}

#camera {
    transform: scaleX(-1);
    width: 120%;
    height: 120%;
    object-fit: cover;
    position: relative;
    left: -5%;
    top: 5%;
}

#ready{
    position: relative;
    left: 43%;
    bottom: -92%;
    z-index: 4;
}